* {
    margin: 0;
    padding: 0;
    
}

.container {
    background-image: url(../images/about.jpeg);
}

.hero_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 { 
    text-align:center
}